<h1>Profile</h1>

	<h2 class="h2">Name: <span id="user"><%= @user['name'] %></span></h2>
	<h2 class="h2">Email Address: <span id="user"><%= @user['email'] %></span></h2>
	<h2 class="h2">Location: <span id="user"><%= @user['location'] %></span></h2>
	<h2 class="h2">Degree: <span id="user"><%= @user['degree'] %></span></h2>
	<h2 class="h2">Research Institute: <span id="user"><%= @user['research_institute'] %></span></h2>
	<h2 class="h2">Research Field: <span id="user"><%= @user.research_field_name %></span></h2>

<h2 class="h2">Publications</h2>
	<% @publications.each do |publication| %>
		<ul> <li class="publish"><a href="<%= publication['url'] %>"><%= publication['title'] %></a>
		<%= publication['authors'] %>.  <%= publication['journal_name'] %>,  <%= publication['publication_date'] %>.</li></ul>
<% end %>

	<form action="/comments/<%= @user['id'] %>" method="post">
		<label for="">Comment</label><br>
		<textarea style="font-size: 20px;" name="body"></textarea> 
		<button class="button">Post</button> 
	</form>

