<h1>Edit Profile</h1>

<form action="/users" method="post">
	<input type="hidden" name="_method" value="patch">

	<label for=''>Name</label>
	<input style="width: 250px; height: 30px; font-size: 20px;" type="text" name="name" value="<%= @user['name'] %>"><br>

	<label for="">Email Address</label>
	<input style="width: 250px; height: 30px; font-size: 20px;" type="text" name="email" value="<%= @user['email'] %>"><br>

	<label for=''>Password</label>
	<input style="width: 250px; height: 30px; font-size: 20px;" type="password" name="password" value="<%= @user['password'] %>"><br>

	<label for=''>Location</label>
	<input style="width: 250px; height: 30px; font-size: 20px;" type="text" name="location" value="<%= @user['location'] %>"><br>

	<label for="">Degree</label>
	<input style="width: 250px; height: 30px; font-size: 20px;" type="text" name="degree" value="<%= @user['degree'] %>"><br>

	<label for=''>Research Institute</label>
	<input style="width: 250px; height: 30px; font-size: 20px;" type="text" name="research_institute" value="<%= @user['research_institute'] %>"><br>

	<label for="">Research Field</label>
 	<select style="width: 250px; height: 30px; font-size: 20px;" name="research_field_id" id="">
		<% @research_fields.each do |research_field| %>
		<option value="<%= research_field.id %>"><%= research_field.name %></option>
		<% end %>
	</select> <br>

	<button class="button">Update</button>
</form>